div.ChangePassword_Wrapper {
    background-color: lightpink;
    margin-top: 1rem;
    min-height: 430px;
}

div.ChangePassword_Content {
    width: 1040px;
    margin: auto;
}

div.ChangePassword_Form {
    padding-top: 10px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    max-width: 1040px;
    align-items: center;
    max-height: 500px;
}

div.ChangePassword_Left {
    width: 40%;
}

div.ChangePassword_Left>div {
    text-align: center;
    background-color: #ff424f;
    max-width: 600px;
}

div.ChangePassword_Left>img {
    max-height: 400px;
    padding-top: 0.3rem;
}

div.ChangePassword_Right {
    width: 60%;
}

div.ChangePassword_Detail {
    width: 450px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 4px;
}

div.ChangePassword_Header {
    width: 100%;
    text-align: center;
    padding: 1.375rem;
}

div.ChangePassword_Header>div {
    font-size: 1.25rem;
    font-weight: bold;
}

div.ChangePassword_Fill {
    padding: 0 30px 30px;
    overflow: hidden;
}

div.ChangePassword_User {
    margin-bottom: 10px;
}

div.ChangePassword_Old,
div.ChangePassword_New,
div.ChangePassword_Confirm {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    display: flex;
    align-items: center;
}

div.ChangePassword_Old>input,
div.ChangePassword_New>input,
div.ChangePassword_Confirm>input {
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
    width: 100%;
}

button.ChangePassword_Butt {
    width: 100%;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
    text-transform: uppercase;
    height: 2.5rem;
    min-width: 8.75rem;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
}

div.ChangePassword_Old>button,
div.ChangePassword_New>button,
div.ChangePassword_Confirm>button {
    border: none;
    background-color: transparent;
    padding-right: 10px;
}