div.Page_Nav {
    display: flex;
    gap: 0.25rem;
}

div.Page_Nav button {
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
    border: none;
}

div.Page_Nav button.active {
    background-color: #1a76e3;
    color: white;
}